@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Manrope", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    --black: #000;
    --rbg_black: 0, 0, 0;
    --white: #fff;
    font-family: "Manrope", sans-serif;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: -1;
}

a {
    text-decoration: none;
    color: var(--black);
}

nav {
    width: 100vw;
    height: 4vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 2vw;
}

nav ul li a {
    font-size: 1.2vw;
    font-weight: 600;
}

li a:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--black);  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

li a:hover:after { transform: scaleX(1); }

.theme {
    position: fixed;
    right: 2vw;
    top: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
}

#sun, #moon {
    display: none;
    transform: scale(0);
}

.home_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.home_container .left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfp {
    width: 20vw;
    height: 20vw;
    border: 10px solid white;
    border-radius: 50%;
    background-image: url('https://github.com/gigabite-pro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: -13vw;
}

.home_container .right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    margin-left: -13vw;
}

.name {
    font-size: 5.5vw;
    font-weight: 1000;
}

.bio {
    padding-left: 0.7vw;
    font-size: 2vw;
    font-weight: 400;
}

.socials {
    width: 20vw;
    margin-left: -1vw;
    padding-top: 0.5vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    color: var(--black);
}

i {
    transition-duration: 200ms;
}

.socials i:hover {
    transform: translateY(-0.2vw);
}

.fa-envelope:hover {
    color: #FFD43B;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-instagram:hover {
    color: #E4405F;
}

.fa-behance:hover {
    color: #1769FF;
}

/* About Page */
.about_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.fluid {
    width: 70vw;
    padding-top: 10vh;
}

.about_title {
    font-size: 3vw;
    font-weight: 1000;
    margin-bottom: 1vw;
}

.about_content {
    display: flex;
    justify-content: space-between;
}

.about_text {
    width: 60%;
    font-size: 1.05vw;
}

.about_img {
    width: 25vw;
    height: 19vw;
    background-image: url('/static/img/ubc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.exp_section {
    margin-top: 5vw;
}

.exp_card {
    width: 94%;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    margin-bottom: 1.5vw;
    background-color: white;
    color: black;
    transition: box-shadow 200ms;
}

.exp_card:hover {
    box-shadow: 0 0 30px rgba(0,0,0, 0.3);
}

.exp_card .header {
    display: flex;
    align-items: center;
}

.header .img {
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.header .basic_info {
    padding-left: 1vw;
}

.exp_title, .exp_company, .exp_date {
    margin-top: 0vw;
    margin-bottom: 0vw;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-19vw * 8)); }
}

.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
}

.slide-track {
    display: flex;
    width: calc(19vw * 16);
}

.slide-track.left{
    animation: scroll-left 15s linear infinite;
}

.slide-item {
    width: 17vw;
    height: 12vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 1vw;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.slide-item:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.678);
}

.slide-item > span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slide-item:hover span {
    opacity: 1;
}

.slide-track:hover {
    animation-play-state: paused;
}

#map {
    height: 70vh;
    margin-bottom: 5vw;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0, 0.3);
}

.project_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.project_container .fluid {
    width: 80vw;
    padding-top: 10vh;
}

.project_list_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project_list {
    width: 56vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project_card {
    width: 25vw;
    border-radius: 10px;
    padding: 2vw;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    margin-bottom: 1.5vw;
    background-color: white;
    color: black;
    transition: box-shadow 200ms;
}

.project_card:hover {
    box-shadow: 0 0 30px rgba(0,0,0, 0.3);
}

.project_img {
    width: 100%;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 1vw;
}

.project_link {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 7px;
    padding: 0.5vw 1.2vw;
    transition-duration: 200ms;
}

.project_link:hover {
    transform: translateY(-0.2vw);
}

.timeline_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.timeline_container .upper_body {
    display: flex;
    justify-content: space-between;
}

.sketchfab-embed-wrapper iframe {
    transform: scale(0.7);
    border-radius: 10px;
    margin-top: -3.5vw;
}

.timeline_form {
    width: 25vw;
}

.btn:not(:disabled):focus {
    box-shadow: none !important;
    background-color: black;
    color: white;
}

.submit {
    background-color: black;
    border: black;
    color: white;
    transition: transform 200ms;
}

.submit:hover {
    background-color: black;
    color: white;
    transform: translateY(-0.2vw);
}

.all-timelines {
    max-width: 90vw;
    margin-left: -2vw;
    column-gap: 2vw;
    column-count: 3;
    padding-bottom: 5vw;
}

.all-timlines-title {
    margin-top: 4vw;
}

.timeline {
    background-color: white;
    display: inline-block;
    margin-bottom: 1vw;
    width: 24vw;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    border-radius: 10px;
    padding: 1vw;
    height: fit-content;
}

.timeline-content .heading {
    height: 3vw;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1vw;
    color: black;
}

.timeline-pfp {
    width: 2.5vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.timeline-text {
    padding-left: 0.5vw;
    font-size: 1vw;
    font-weight: 600;
}

.timeline-content p {
    color: black;
}