<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta property="og:title" content="Personal Portfolio" />
        <meta property="og:description" content="My Personal Portfolio" />
        <meta property="og:url" content="localhost:5000" />
        <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
        <script
            src="https://kit.fontawesome.com/410f94a1ed.js"
            crossorigin="anonymous"></script>
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet" />
        <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin="" />
        <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        <title>Vaibhav | Portfolio</title>
    </head>

    <body>
        <div id="particles-js"></div>
        <nav data-aos="fade-down">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li>
                    <a href="./static/resume.pdf" target="_blank">Resume</a>
                </li>
            </ul>
            <div class="theme">
                <i
                    class="fas fa-sun"
                    id="sun"
                    onclick="handleThemeToggle()"></i>
                <i
                    class="fas fa-moon"
                    id="moon"
                    onclick="handleThemeToggle()"></i>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </body>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="./static/scripts/particles.js"></script>
    <script src="./static/scripts/typewrite.js"></script>
    <script src="./static/scripts/main.js"></script>
</html>
